* {
    font-family: "Poppins",sans-serif;
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
}
.text-primary {
    color: #1D3557;
}
.text-secondary {
    color: #457B9D;
}
.text-tertiary {
    color: #A8DADC;
}
.xl {
    font-size: 80px;
}
.l {
    font-size: 40px;
}
.m {
    font-size: 30px;
}
.sm {
    font-size: 20px;
}
.xsm {
    font-size: 15px;
}
.heavy {
    font-weight: bold;
}
p {
    margin: 0%;
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
a {
    color: inherit;
    text-decoration: inherit;
}
img {
    user-select: none;
    -webkit-user-drag: none;
}
.flex-container {
    display: flex;
}
.grid-container {
    display: grid;
}
.space {
    width: 20px;
}
#navbar {
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: #ffffff60;
    justify-content: center;
}
#navbar>.flex-container {
    position: sticky;
}
.nav-button {
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
}
#welcome {
    margin: 10% 10% 0% 10%;
    padding-top: 100px;
    overflow-x: hidden;
}
#welcome .flex-container {
    flex-flow: column;
}
#welcome .grid-container {
    grid-template: repeat(5, 20%) / repeat(3, 20%);
}
.title {
    grid-area: 2 / 2 / 4 / 5;
    order: 1;
}
.blob1 {
    overflow: hidden;
    height: 80vh;
    grid-area: 1 / 4 / 5 / 6;
    order: 0;
}
.blob2 {
    overflow: hidden;
    height: 50vh;
    order: 0;
    grid-column-end: 2;
    grid-row-start: 2;
    direction: rtl;
}
#about {
    margin: 20% 10% 0% 10%;
    flex-flow: column;
    align-items: center;
}
#projects {
    margin: 5% 10% 0% 10%;
    flex-flow: column;
    align-items: center;
}
#contact {
    margin: 5% 10% 0% 10%;
    flex-flow: column;
    align-items: center;
}
#projects>.flex-container {
    justify-content: center;
    gap: 5%;
}
.project {
    width: 20%;
    flex-flow: column;
    align-items: center;
}
.icon {
    height: 250px;
    width: 250px;
    background-color: #A8DADC;
    border-radius: 10px;
}
.socials {
    gap: 10%;
    justify-content: center;
    align-items: center;
}
.socials img {
    height: 75px;
}
.card {
    gap: 10%;
    width: auto;
    align-items: center;
    font-weight: 600;
}
.watermark {
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
    font-size: 1em;
}
